
*{
    margin: 0px;
    padding: 0px;
}
ul{
    width: 500px; /* Tamanho da lista principal */
    margin: 0 auto; /* Para centralizar na página */
    list-style: none;        
}
ul li{
    float: left;
    background-color: #FFFFFF;
    position: relative; /* Necessário para o item filho se posicionar a LI que é o pai */
}
ul li a{
    display: block;
    padding: 10px;
    border: 1px #000000 solid;
    text-decoration: none;
    color: #000000;
}
ul li:hover > a{ /* Quando passarmos o mouse sobre a LI colocamos estilo no A */
    background-color: #0099FF;
    color: #FFFFFF;
}
ul li ul{
    display: none;
    position: absolute;
}
ul li:hover ul{ /* Quando passar o mouse sobre a LI aparecerá o menu filho */
    width: 110px; /* Tamanho do menu filho */
    display: block; 
}
ul li ul li{
    width: 110px;
    cursor: pointer;
}
ul li ul li:hover > a{
    background-color: #0099FF;
    color: #FFFFFF;
}
ul li ul li ul li{
    display: none;
}
ul li ul li ul{
    top: 0; /* Para deixar o sub-menu na mesma linha do menu pai */
}
ul li ul li:hover ul li{
    display: block;
    width: 130px;
    left: 100%; /* Para deixar o sub-menu ao lado do menu pai */
}